name: Generate Documentation with YARD
on:
  workflow_dispatch:
  pull_request:
    paths:
    - .github/workflows/documentation.yml
    - .yardopts
    - docs/**
    - lib/**
    - README.md
    - Gemfile
  push:
    branches:
      - main
      - v*.*
    paths:
    - .github/workflows/documentation.yml
    - .yardopts
    - docs/**
    - lib/**
    - README.md
    - Gemfile
jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4'
        bundler-cache: true
    
    - name: Package YARD
      run: bundle exec yard doc
    
    - uses: actions/upload-pages-artifact@v4
      with:
        path: doc
  
  deploy:
    needs: build
    if: github.ref_name == 'main'
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
    concurrency:
      group: pages
      cancel-in-progress: true
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    
    - uses: actions/configure-pages@v5
    
    - id: deploy-pages
      uses: actions/deploy-pages@v4
