name: Test with Minitest
on:
  workflow_dispatch:
  pull_request:
    paths:
    - .github/workflows/test.yml
    - lib/**
    - test/**
    - Gemfile
    - '*.gemspec'
  push:
    branches:
      - main
      - v*.*
    paths:
    - .github/workflows/test.yml
    - lib/**
    - test/**
    - Gemfile
    - '*.gemspec'
jobs:
  
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby-version: ['4']
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
    
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    
    - uses: ruby/setup-ruby@v1
      with:
        windows-toolchain: 'none' # remove this line if the project requires MSYS2 DevKit
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
        cache-version: 25.1
    
    - name: Test with Minitest
      run: bundle exec rake test:isolated
