name: Check Types with Steep
on:
  workflow_dispatch:
  pull_request:
    paths:
    - .github/workflows/type_check.yml
    - lib/**
    - sig/**
    - Gemfile
    - '*.gemspec'
  push:
    branches:
      - main
      - v*.*
    paths:
    - .github/workflows/type_check.yml
    - lib/**
    - sig/**
    - Gemfile
    - '*.gemspec'
jobs:
  
  type_check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3'
        bundler-cache: true
    
    - name: Collect RBS
      run: bundle exec rbs collection install
    
    - name: Check Types with Steep
      run: bundle exec steep check
